@model GrandApp.Models.Data.RoomCategory

@{
    ViewData["Title"] = "Удаление";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="RoomCategories" asp-action="Index">Категории</a></li>
        <li class="breadcrumb-item active">Удаление</li>
    </ol>
</nav>

<h1>Удаление</h1>

<div>
    <h3>Вы уверены, что желаете удалить элемент? Восстановить будет невозможно</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
